.btn
    display inline-block
    box-sizing border-box
    width auto
    min-width 30px
    min-height 30px
    padding 10px
    border none
    background btn-bg-color
    cursor pointer
    color text-color-highlight
    font-size 15px
    transition .2s ease-in-out
    text-align center
    line-height normal
    font-family default-font !important

    &.no-icon icon
        display none

    &.no-text
        span
            display none

        + icon
            margin-right 0

    &:hover
        color #fff !important
        background btn-hover-bg-color

    &[type='success']
        // color btn-success-bg-color !important
        background btn-success-bg-color

        &:hover
            background btn-success-hover-bg-color

    &[type='warning']
        // color button-color-warning !important
        background btn-warning-bg-color

        &:hover
            background btn-warning-hover-bg-color

    &[type='danger']
        // color button-color-danger !important
        background btn-danger-bg-color

        &:hover
            background btn-danger-hover-bg-color

    &[type='highlight']
        // color button-color-highlight !important
        background btn-highlight-bg-color

        &:hover
            background btn-highlight-hover-bg-color

    &.outlined
        border solid 2px btn-bg-color
        background transparent !important

        &:hover
            border solid 2px btn-hover-bg-color
            color #fff !important

        &[type='success']
            color text-color-success !important
            border-color btn-success-bg-color

            &:hover
                border-color btn-success-hover-bg-color

        &[type='warning']
            color text-color-warning !important
            border-color btn-warning-bg-color

            &:hover
                border-color btn-warning-hover-bg-color

        &[type='danger']
            color text-color-danger !important
            border-color btn-danger-bg-color

            &:hover
                border-color btn-danger-hover-bg-color

        &[type='highlight']
            color text-color-highlight !important
            border-color btn-highlight-bg-color

            &:hover
                border-color btn-highlight-hover-bg-color

    icon
        display inline-block
        font-size 1em
        margin-right 10px
