// --------------- HIDROGEN UI ---------------

// --------------- COLORS ---------------

primary-color = #161a1f
secondary-color = lighten(primary-color, 2%)

subtle-color = #a9a9a9
highlight-color = #e3e3e3
info-color = #33b5e5
success-color = #4db03d
warning-color = #df8916
danger-color = #e33a3c
error-color = #c12828

// Text colors --------------------------

text-color = subtle-color
text-color-highlight = highlight-color
text-color-success = success-color
text-color-warning = warning-color
text-color-danger = danger-color
text-color-error = error-color
text-color-selected = text-color-highlight
text-color-background-selected = #283b4f

// Main components colors --------------------------

app-bg-color = primary-color
loader-bg-color = primary-color
titlebar-bg-color = primary-color
sidebar-bg-color = primary-color
library-bg-color = primary-color
about-bg-color = primary-color

// Game colors --------------------------

game-background-color = primary-color
game-border-color = #3a3f44
game-hover-background-color = #000
game-menu-button-color = #aaa

// Input colors --------------------------

// #8a979d
input-border-color = subtle-color
input-border-color-error = error-color

// Button colors --------------------------

btn-text-color = highlight-color
btn-bg-color = #3d4146
btn-hover-bg-color = darken(btn-bg-color, 10%)

btn-success-bg-color = success-color
btn-success-hover-bg-color = darken(success-color, 10%)

btn-warning-bg-color = warning-color
btn-warning-hover-bg-color = darken(warning-color, 10%)

btn-danger-bg-color = danger-color
btn-danger-hover-bg-color = darken(danger-color, 10%)

btn-highlight-bg-color = info-color
btn-highlight-hover-bg-color = #0099cc



// button-color-background = primary-color
//
// button-color-success = text-color-highlight
// button-background-color-success = #008837
// button-hover-background-color-success = #23a156
//
// button-color-danger = #b91e1e
// button-background-color-danger = #7c0000
// button-hover-background-color-danger = #c91e1e
//
// button-color-highlight = text-color-highlight
// button-background-color-highlight = #33b5e5
// button-hover-background-color-highlight = #0099cc

home-btn-bg-color = primary-color

// --------------- SIZES ---------------

list-font-size = 15px

// --------------- ICONS ---------------



// -------------------------------------------
// THEME COLORS
// -------------------------------------------
// primary-color = #1e252e
// secondary-color = #232c37
// tertiary-color = #ececec

// text-color = #a9a9a9
// text-color-highlight = #e3e3e3
// text-color-success = #29b905
// text-color-warning = #dfd600
// text-color-error = #dd2020
// text-color-selected = text-color-highlight
// text-color-background-selected = #283b4f

// -------------------------------------------
// ELEMENT-SPECIFIC COLORS
// -------------------------------------------
// app-background-color = primary-color
// titlebar-background-color = #202832
// sidebar-background-color = #161a1f
// board-background-color = lighten(#161a1f, 2%)
// board #232c37
// sidebar bg #161a1f  // #191e25 // #1c2127



// Buttons -----------------------------------

//
// button-background-color-highlight = #2ba0ce
// button-hover-background-color-highlight = #1b799e

home-button-primary-color = app-background-color


// -------------------------------------------
// THEME TYPOGRAPHY
// -------------------------------------------
default-font = 'Roboto'



// background-color-light = #e6e5e2
// background-color-dark = #303034
// background-color-active = #30b0d2
//
// text-color-subtle = #aaaaaa
// text-color-highlight = #30b0d2
// text-color-success = #29b905
// text-color-warning = #dfd600
// text-color-error = #dd2020
//
// text-color-light = #000
// text-color-dark = #fff
// text-color-light-selected = #aba4a2
// text-color-dark-selected = #b3b4ae
// text-background-color-light = background-color-light
// text-background-color-dark = background-color-dark
//
// app-shadow-color = rgba(0, 0, 0, .5)
//
// font-size-normal = 14px
// font-size-small = 13px
// font-size-medium = 16px
// font-size-large = 18px
// font-size-xlarge = 22px



font-path = "../static/fonts"

// -------------------------------------------
// THEME COLORS
// -------------------------------------------
icomoon-font-path ?= font-path
icon-add = "\e145"
icon-control_point = "\e3ba"
icon-attach_file = "\e226"
icon-autorenew = "\e863"
icon-cloud_upload = "\e2c3"
icon-turned_in = "\e8e6"
icon-turned_in_not = "\e8e7"
icon-border_color = "\e22b"
icon-brightness_2 = "\e3a7"
icon-brightness_3 = "\e3a8"
icon-brightness_low = "\e1ad"
icon-build = "\e869"
icon-cached = "\e86a"
icon-check = "\e5ca"
icon-check_box = "\e834"
icon-check_box_outline_blank = "\e835"
icon-navigate_before = "\e408"
icon-navigate_next = "\e409"
icon-close = "\e5cd"
icon-wb_cloudy = "\e42d"
icon-cloud_done = "\e2bf"
icon-cloud_download = "\e2c0"
icon-cloud_off = "\e2c1"
icon-cloud_queue = "\e2c2"
icon-photo_library = "\e413"
icon-mode_edit = "\e254"
icon-create_new_folder = "\e2cc"
icon-crop_landscape = "\e3c3"
icon-dashboard = "\e871"
icon-delete = "\e872"
icon-desktop_windows = "\e30c"
icon-drafts = "\e151"
icon-markunread = "\e159"
icon-expand_less = "\e5ce"
icon-expand_more = "\e5cf"
icon-favorite = "\e87d"
icon-favorite_border = "\e87e"
icon-get_app = "\e884"
icon-file_upload = "\e2c6"
icon-folder = "\e2c7"
icon-folder_open = "\e2c8"
icon-star = "\e838"
icon-people = "\e7fb"
icon-group_add = "\e7f0"
icon-headset = "\e310"
icon-headset_mic = "\e311"
icon-home = "\e88a"
icon-lock = "\e897"
icon-photo = "\e410"
icon-inbox = "\e156"
icon-info = "\e88e"
icon-info_outline = "\e88f"
icon-insert_drive_file = "\e24d"
icon-tag_faces = "\e420"
icon-label = "\e892"
icon-label_outline = "\e893"
icon-language = "\e894"
icon-lens = "\e3fa"
icon-local_library = "\e54b"
icon-room = "\e8b4"
icon-lock_open = "\e898"
icon-lock_outline = "\e899"
icon-sync = "\e627"
icon-mail_outline = "\e0e1"
icon-move_to_inbox = "\e168"
icon-near_me = "\e569"
icon-open_in_browser = "\e89d"
icon-panorama = "\e40b"
icon-radio_button_unchecked = "\e836"
icon-person = "\e7fd"
icon-person_add = "\e7fe"
icon-photo_size_select_actual = "\e432"
icon-power_settings_new = "\e8ac"
icon-priority_high = "\e645"
icon-public = "\e80b"
icon-remove = "\e15b"
icon-visibility = "\e8f4"
icon-warning = "\e002"
icon-school = "\e80c"
icon-search = "\e8b6"
icon-send = "\e163"
icon-sentiment_dissatisfied = "\e811"
icon-sentiment_neutral = "\e812"
icon-sentiment_satisfied = "\e813"
icon-sentiment_very_dissatisfied = "\e814"
icon-sentiment_very_satisfied = "\e815"
icon-settings = "\e8b8"
icon-star_border = "\e83a"
icon-supervisor_account = "\e8d3"
icon-thumb_down = "\e8db"
icon-thumb_up = "\e8dc"
icon-thumbs_up_down = "\e8dd"
icon-view_list = "\e8ef"
icon-view_module = "\e8f0"
icon-vpn_key = "\e0da"
icon-web_asset = "\e069"
icon-embed2 = "\ea80"
icon-facebook2 = "\ea91"
icon-instagram = "\ea92"
icon-spotify = "\ea94"
icon-twitter = "\ea96"
icon-youtube = "\ea9d"
icon-twitch = "\ea9f"
icon-steam2 = "\eaad"
icon-github = "\eab0"
icon-tux = "\eabd"
icon-appleinc = "\eabe"
icon-windows8 = "\eac2"
