.btn
    display inline-block
    width 90px
    height 70px
    padding 10px
    border none
    border-radius 5px
    background #37414d
    cursor pointer
    color #a9a9a9
    transition .2s ease-in-out
    box-sizing border-box

    &:hover
        color #fff !important
        background #303d4d

    &.btn-sec
        border solid 2px #37414d
        background transparent !important

        &:hover
            border solid 2px #303d4d
            color #fff !important

    .icon
        font-size 1em
        margin-right 10px
