.about
    display block
    width 1220px
    height 850px
    border-radius 0 0 10px 0
    background #1e252e
    position absolute
    top 20px
    left -870px
    transition ease-in-out .2s

    &.active
        left 350px

    .icon-close
        width 40px
        height 40px
        background transparent
        position absolute
        top 30px
        right 30px
