#app
    display block
    width 1570px
    height 870px
    position relative
    top 50%
    left 50%
    transform translate(-50%, -50%)
    font-family 'Arial'
    color #fff
    // background #232c37
    background #1e252e
    border-radius 10px
    box-shadow 0 5px 20px rgba(0, 0, 0, .5)
    overflow hidden

    &.disable-animations
        *
            transition none
