.home-screen
    display none
    width 1220px
    height 850px
    float right
    position relative
    background #232c37
    font-family 'GravityLight'
    transition ease-in-out .2s

    &.active
        display inline-block

    .main-title
        position absolute
        top 300px
        left 50%
        transform translateX(-50%)
        font-size 50px
        color #e4eefb

    .sub-title
        position absolute
        top 380px
        left 50%
        transform translateX(-50%)
        font-size 25px
        color #e4eefb
        letter-spacing 0.3px

    .home-btns
        display block
        position relative
        width 420px
        height 60px
        top 70%
        left 50%
        transform translateX(-50%)

    .library-btn
        position absolute
        top 0
        left 0
        width 200px
        height 60px
        font-size 20px
        line-height 40px
        text-align center

    .add-btn
        position absolute
        top 0
        right 0
        width 200px
        height 60px
        font-size 20px
        line-height 36px
        text-align center
