.about
    background about-background-color
    // display block
    // width 1270px
    // height 850px
    // background #1e252e
    // position absolute
    // top 20px
    // left -970px
    // transition ease-in-out .2s

    // &.active
    //     left 300px

    .hidrogen-logo
        width 200px
        height 60px
        position absolute
        top 32%
        // left 32.5%
        left 50%
        transform translateX(-50%)
        transform scale(1.7)
        background url('../static/images/logo-hidrogen.png') no-repeat

    .text
        width 300px
        height 30px
        position absolute
        color #a9a9a9
        font-size 16px
        text-align center
        // font-family 'GravityLight'
        // left 27%
        left 50%
        transform translateX(-50%)

    .version-text
        top 45%
        font-size 22px

    .copyright-disclaimer
        top 45%
        font-size 17px

    .back-btn
        width 150px
        height 50px
        position absolute
        top 55%
        // left 33.5%
        left 50%
        transform translateX(-50%)
        text-align center
        line-height 30px
