.about
    display block
    width 1220px
    height 850px
    border-radius 0 0 10px 0
    background #1e252e
    position absolute
    top 20px
    left -870px
    transition ease-in-out .2s

    &.active
        left 350px

    .hidrogen-logo
        width 200px
        height 60px
        position absolute
        top 32%
        left 32.5%
        transform scale(1.7)
        background url('../static/images/logo-hidrogen.png') no-repeat

    .text
        width 300px
        height 30px
        position absolute
        color #a9a9a9
        font-size 19px
        text-align center
        font-family 'GravityLight'
        left 27%

    .version-text
        top 45%
        font-size 22px

    .copyright-disclaimer
        top 45%
        font-size 17px

    .back-btn
        width 150px
        height 50px
        position absolute
        top 55%
        left 33.5%
        text-align center
        line-height 30px
