.board
    display block
    width 1270px
    height 850px
    float right
    // background board-background-color

    .board-view
        display inline-block
        width 1270px
        height 850px
        // float right
        position absolute
        top 20px
        left -970px
        // transition ease-in-out .2s

        &.active
            left 300px
