.editor
    display block
    width 1570px
    height 870px
    position absolute
    top 0
    z-index 10
    background rgba(255, 255, 255, .5)
    transform scale(0)
    transition .5s cubic-bezier(0.165, 0.840, 0.440, 1.000)

    &.opened
        transform scale(1)

        .editor-content
            transform scale(1) translate(-50%, -50%)

    .editor-content
        display block
        width 1000px
        height 700px
        padding 80px
        box-sizing border-box
        background primary-color //#f3f8ff
        // border-radius 5px
        font-size 15px
        position relative
        top 50%
        left 50%
        transform translate(-50%, -50%) scale(0)
        box-shadow 0 0 50px rgba(0, 0, 0, .7)
        transition .5s cubic-bezier(0.165, 0.840, 0.440, 1.000)
        color text-color //#292929
