* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  user-select: none;
}
@font-face {
  font-family: 'Roboto';
  src: url("../static/fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GravityLight';
  src: url("../static/fonts/Gravity-Light.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Adam';
  src: url("../static/fonts/Adam.otf");
  font-weight: normal;
  font-style: normal;
}
icon {
  font-family: 'icons' !important;
}
@font-face {
  font-family: 'icons';
  src: url("../static/fonts/icons.eot?q1sc4n");
  src: url("../static/fonts/icons.eot?q1sc4n#iefix") format('embedded-opentype'), url("../static/fonts/icons.ttf?q1sc4n") format('truetype'), url("../static/fonts/icons.woff?q1sc4n") format('woff'), url("../static/fonts/icons.svg?q1sc4n#icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add:before {
  content: "\e145";
}
.icon-control_point:before {
  content: "\e3ba";
}
.icon-attach_file:before {
  content: "\e226";
}
.icon-autorenew:before {
  content: "\e863";
}
.icon-cloud_upload:before {
  content: "\e2c3";
}
.icon-turned_in:before {
  content: "\e8e6";
}
.icon-turned_in_not:before {
  content: "\e8e7";
}
.icon-border_color:before {
  content: "\e22b";
}
.icon-brightness_2:before {
  content: "\e3a7";
}
.icon-brightness_3:before {
  content: "\e3a8";
}
.icon-brightness_low:before {
  content: "\e1ad";
}
.icon-build:before {
  content: "\e869";
}
.icon-cached:before {
  content: "\e86a";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-check_box:before {
  content: "\e834";
}
.icon-check_box_outline_blank:before {
  content: "\e835";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-wb_cloudy:before {
  content: "\e42d";
}
.icon-cloud_done:before {
  content: "\e2bf";
}
.icon-cloud_download:before {
  content: "\e2c0";
}
.icon-cloud_off:before {
  content: "\e2c1";
}
.icon-cloud_queue:before {
  content: "\e2c2";
}
.icon-photo_library:before {
  content: "\e413";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-create_new_folder:before {
  content: "\e2cc";
}
.icon-crop_landscape:before {
  content: "\e3c3";
}
.icon-dashboard:before {
  content: "\e871";
}
.icon-delete:before {
  content: "\e872";
}
.icon-desktop_windows:before {
  content: "\e30c";
}
.icon-drafts:before {
  content: "\e151";
}
.icon-markunread:before {
  content: "\e159";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-get_app:before {
  content: "\e884";
}
.icon-file_upload:before {
  content: "\e2c6";
}
.icon-folder:before {
  content: "\e2c7";
}
.icon-folder_open:before {
  content: "\e2c8";
}
.icon-star:before {
  content: "\e838";
}
.icon-people:before {
  content: "\e7fb";
}
.icon-group_add:before {
  content: "\e7f0";
}
.icon-headset:before {
  content: "\e310";
}
.icon-headset_mic:before {
  content: "\e311";
}
.icon-home:before {
  content: "\e88a";
}
.icon-lock:before {
  content: "\e897";
}
.icon-photo:before {
  content: "\e410";
}
.icon-inbox:before {
  content: "\e156";
}
.icon-info:before {
  content: "\e88e";
}
.icon-info_outline:before {
  content: "\e88f";
}
.icon-insert_drive_file:before {
  content: "\e24d";
}
.icon-tag_faces:before {
  content: "\e420";
}
.icon-label:before {
  content: "\e892";
}
.icon-label_outline:before {
  content: "\e893";
}
.icon-language:before {
  content: "\e894";
}
.icon-lens:before {
  content: "\e3fa";
}
.icon-local_library:before {
  content: "\e54b";
}
.icon-room:before {
  content: "\e8b4";
}
.icon-lock_open:before {
  content: "\e898";
}
.icon-lock_outline:before {
  content: "\e899";
}
.icon-sync:before {
  content: "\e627";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-move_to_inbox:before {
  content: "\e168";
}
.icon-near_me:before {
  content: "\e569";
}
.icon-open_in_browser:before {
  content: "\e89d";
}
.icon-panorama:before {
  content: "\e40b";
}
.icon-radio_button_unchecked:before {
  content: "\e836";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-person_add:before {
  content: "\e7fe";
}
.icon-photo_size_select_actual:before {
  content: "\e432";
}
.icon-power_settings_new:before {
  content: "\e8ac";
}
.icon-priority_high:before {
  content: "\e645";
}
.icon-public:before {
  content: "\e80b";
}
.icon-remove:before {
  content: "\e15b";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-warning:before {
  content: "\e002";
}
.icon-school:before {
  content: "\e80c";
}
.icon-search:before {
  content: "\e8b6";
}
.icon-send:before {
  content: "\e163";
}
.icon-sentiment_dissatisfied:before {
  content: "\e811";
}
.icon-sentiment_neutral:before {
  content: "\e812";
}
.icon-sentiment_satisfied:before {
  content: "\e813";
}
.icon-sentiment_very_dissatisfied:before {
  content: "\e814";
}
.icon-sentiment_very_satisfied:before {
  content: "\e815";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-star_border:before {
  content: "\e83a";
}
.icon-supervisor_account:before {
  content: "\e8d3";
}
.icon-thumb_down:before {
  content: "\e8db";
}
.icon-thumb_up:before {
  content: "\e8dc";
}
.icon-thumbs_up_down:before {
  content: "\e8dd";
}
.icon-view_list:before {
  content: "\e8ef";
}
.icon-view_module:before {
  content: "\e8f0";
}
.icon-vpn_key:before {
  content: "\e0da";
}
.icon-web_asset:before {
  content: "\e069";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-github:before {
  content: "\eab0";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-windows8:before {
  content: "\eac2";
}
.btn {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  min-width: 30px;
  min-height: 30px;
  padding: 10px;
  border: none;
  background: #3d4146;
  cursor: pointer;
  color: #e3e3e3;
  font-size: 15px;
  transition: 0.2s ease-in-out;
  text-align: center;
  line-height: normal;
  font-family: 'Roboto' !important;
}
.btn.no-icon icon {
  display: none;
}
.btn.no-text span {
  display: none;
}
.btn.no-text + icon {
  margin-right: 0;
}
.btn:hover {
  color: #fff !important;
  background: #373a3f;
}
.btn[type='success'] {
  background: #4db03d;
}
.btn[type='success']:hover {
  background: #459e37;
}
.btn[type='warning'] {
  background: #df8916;
}
.btn[type='warning']:hover {
  background: #c97b14;
}
.btn[type='danger'] {
  background: #e33a3c;
}
.btn[type='danger']:hover {
  background: #df2123;
}
.btn[type='highlight'] {
  background: #33b5e5;
}
.btn[type='highlight']:hover {
  background: #09c;
}
.btn.outlined {
  border: solid 2px #3d4146;
  background: transparent !important;
}
.btn.outlined:hover {
  border: solid 2px #373a3f;
  color: #fff !important;
}
.btn.outlined[type='success'] {
  color: #4db03d !important;
  border-color: #4db03d;
}
.btn.outlined[type='success']:hover {
  border-color: #459e37;
}
.btn.outlined[type='warning'] {
  color: #df8916 !important;
  border-color: #df8916;
}
.btn.outlined[type='warning']:hover {
  border-color: #c97b14;
}
.btn.outlined[type='danger'] {
  color: #e33a3c !important;
  border-color: #e33a3c;
}
.btn.outlined[type='danger']:hover {
  border-color: #df2123;
}
.btn.outlined[type='highlight'] {
  color: #e3e3e3 !important;
  border-color: #33b5e5;
}
.btn.outlined[type='highlight']:hover {
  border-color: #09c;
}
.btn icon {
  display: inline-block;
  font-size: 1em;
  margin-right: 10px;
}
.list {
  display: block;
  width: 150px;
  list-style-type: none;
}
.list .list-item {
  display: block;
  width: 90px;
  height: 20px;
  font-size: 15px;
  cursor: pointer;
  padding: 20px 30px;
  color: #a9a9a9;
  transition: 0.2s ease-in-out;
}
.list .list-item .icon {
  float: left;
  margin-right: 20px;
  font-size: 18px;
  vertical-align: middle;
}
.list .list-item .text {
  font-family: 'Arial';
  vertical-align: middle;
}
.list .list-item:hover {
  color: #fff;
}
.list .list-item.selected {
  color: #fff;
}
.h-list {
  transition: ease-in-out 0.2s;
}
.h-list.no-title .list-title {
  display: none;
}
.h-list.disabled {
  cursor: default !important;
  opacity: 0.5;
}
.h-list .list-item {
  display: block;
  width: 90px;
  height: 20px;
  font-size: 15px;
  cursor: pointer;
  padding: 20px 30px;
  color: #a9a9a9;
  transition: 0.2s ease-in-out;
}
.h-list .list-item icon {
  float: left;
  margin-right: 20px;
  font-size: 18px;
  vertical-align: middle;
}
.h-list .list-item span {
  font-family: 'Arial';
  vertical-align: middle;
}
.h-list .list-item:hover {
  color: #fff;
}
.h-list .list-item.selected {
  color: #fff;
}
.h-list[behaviour='checkgroup'] {
  display: block;
  width: 250px;
}
.h-list[behaviour='checkgroup'].no-title .list-title {
  display: none;
}
.h-list[behaviour='checkgroup'].no-title .list-container {
  margin-left: 0;
}
.h-list[behaviour='checkgroup'] .list-title {
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
}
.h-list[behaviour='checkgroup'] .list-container {
  display: block;
  width: 100%;
  margin-left: 15px;
}
.h-list[behaviour='checkgroup'] .list-container .list-item {
  display: block;
  width: 100%;
  height: 25px;
  padding: 5px 0;
  line-height: 25px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.h-list[behaviour='checkgroup'] .list-container .list-item.selected {
  color: #e3e3e3;
}
.h-list[behaviour='checkgroup'] .list-container .list-item.selected:before {
  content: '\e3fa';
  animation: tick 250ms ease-in-out;
}
.h-list[behaviour='checkgroup'] .list-container .list-item:hover {
  color: #e3e3e3;
}
.h-list[behaviour='checkgroup'] .list-container .list-item:hover:before {
  border-color: #e3e3e3;
}
.h-list[behaviour='checkgroup'] .list-container .list-item:before {
  display: inline-block;
  content: '\e836';
  font-size: 1em;
  line-height: 25px;
  margin-right: 5px;
  font-family: 'icons';
}
@-moz-keyframes tick {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes tick {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes tick {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes tick {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
input:focus {
  outline: none;
}
.input-text {
  display: inline-block;
  width: 250px;
  height: 40px;
  position: relative;
}
.input-text.active .input-text-label {
  top: -10px;
  left: 0;
  font-size: 11px;
  color: #e3e3e3;
}
.input-text.error .input-text-element {
  border-color: #c12828;
}
.input-text.error .input-text-label {
  color: #c12828;
}
.input-text .input-text-element {
  display: inline-block;
  box-sizing: border-box;
  width: 250px;
  height: 40px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
  color: #a9a9a9;
  border: none;
  border-bottom: 2px solid #a9a9a9;
  cursor: pointer;
  background: transparent;
  transition: 0.2s ease-in-out;
}
.input-text .input-text-element:focus,
.input-text .input-text-element:hover {
  border-bottom: 2px solid #e3e3e3;
}
.input-text .input-text-element.active + .input-text-label {
  top: -10px;
  left: 0;
  font-size: 11px;
  color: #e3e3e3;
}
.input-text .input-text-label {
  position: absolute;
  top: 13px;
  left: 5px;
  font-size: 14px;
  font-family: 'Roboto';
  color: #a9a9a9;
  transition: 0.2s ease-in-out;
}
::selection {
  background: #283b4f;
  color: #e3e3e3;
}
.input-textarea {
  display: inline-block;
  width: 250px;
  height: 100px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  background: #232c37;
  transition: ease-in-out 0.2s;
  resize: none;
  font-family: 'Arial';
  color: #a9a9a9;
  cursor: pointer;
}
.input-textarea:hover {
  color: #fff !important;
  background: #303d4d;
}
.input-textarea:focus {
  outline: none;
  color: #fff !important;
  background: #303d4d;
}
input::-webkit-input-placeholder {
  color: #a9a9a9;
  font-family: 'Arial';
  transition: 0.2s ease-in-out;
}
textarea::-webkit-input-placeholder {
  color: #a9a9a9;
  font-family: 'Arial';
}
.input-toggle {
  display: inline-block;
  font-size: 15px;
  color: #a9a9a9;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.input-toggle.disabled {
  cursor: default !important;
  opacity: 0.5;
}
.input-toggle.disabled:hover {
  color: #a9a9a9 !important;
}
.input-toggle:hover {
  color: #fff;
}
.input-toggle.active .tick-icon:before {
  content: '\e834';
  animation: tick 250ms ease-in-out;
}
.input-toggle .tick-icon:before {
  content: '\e835';
  font-family: 'icons';
  font-size: 1em;
  display: inline-block;
  margin-right: 5px;
}
@-moz-keyframes tick {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes tick {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes tick {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes tick {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.field {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
}
.dropdown-menu {
  display: inline-block;
  width: 170px;
  height: 40px;
  transition: 0.2s ease-in-out;
  position: relative;
  font-size: 14px;
}
.dropdown-menu.active .dropdown-title {
  border-radius: 5px 5px 0 0;
}
.dropdown-menu.active .dropdown-icon {
  transform: rotate(180deg);
}
.dropdown-menu.active .dropdown-list {
  display: block;
  animation: displayItem 250ms ease-in-out forwards;
}
@-moz-keyframes displayItem {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}
@-webkit-keyframes displayItem {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}
@-o-keyframes displayItem {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}
@keyframes displayItem {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}
.dropdown-menu .dropdown-title {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #37414d;
  cursor: pointer;
  color: #a9a9a9;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  position: absolute;
}
.dropdown-menu .dropdown-title:hover {
  color: #fff !important;
  background: #303d4d;
}
.dropdown-menu .dropdown-title:hover + .dropdown-icon {
  color: #fff !important;
}
.dropdown-menu .dropdown-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  transition: 0.2s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  color: #a9a9a9;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
}
.dropdown-menu .dropdown-list {
  display: none;
  width: 100%;
  min-height: 40px;
  position: absolute;
  top: 40px;
  border-radius: 0 0 5px 5px;
  background: #37414d;
}
.dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  height: 40px;
  transition: 0.2s ease-in-out;
  padding: 10px 20px;
  box-sizing: border-box;
  line-height: 20px;
  cursor: pointer;
  color: #a9a9a9;
}
.dropdown-menu .dropdown-item:hover {
  color: #fff !important;
  background: #303d4d;
}
.dropdown-menu .dropdown-item:last-child {
  border-radius: 0 0 5px 5px;
}
.dropdown-menu .dropdown-item.selected {
  display: none;
}
.modal {
  display: block;
  width: 1570px;
  height: 870px;
  position: absolute;
  top: 0;
  z-index: 10;
  background: rgba(255,255,255,0.5);
  transform: scale(0);
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.modal.active {
  transform: scale(1);
}
.modal.active .content {
  transform: scale(1) translate(-50%, -50%);
}
.modal.no-title .title {
  display: none;
}
.modal .content {
  display: block;
  width: 600px;
  height: 400px;
  padding: 25px;
  box-sizing: border-box;
  background: #161a1f;
  font-size: 15px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  box-shadow: 0 0 50px rgba(0,0,0,0.7);
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  color: #a9a9a9;
}
.modal .btn-container {
  display: block;
  width: 550px;
  height: 40px;
  position: absolute;
  right: 25px;
  bottom: 25px;
}
.modal .btn-container .btn-confirm,
.modal .btn-container .btn-cancel {
  min-width: 100px;
  width: auto;
  height: 40px;
  padding: 10px 20px;
  float: right;
  color: #fff;
  font-size: 15px;
  text-align: center;
}
.modal .btn-container .btn-confirm {
  margin-right: 20px;
}
.form {
  display: block;
  width: 400px;
  height: 500px;
  padding: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  background: rgba(0,0,0,0.5);
}
.form .form-content {
  display: block;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form .form-content .form-title {
  display: block;
  width: 100%;
  margin-bottom: 60px;
  font-size: 25px;
  text-align: center;
  color: #e3e3e3;
}
.form .form-content .input-text {
  display: block;
  width: 100%;
  margin-bottom: 50px;
}
.form .form-content .input-text.active .input-text-label,
.form .form-content .input-text.active .input-text-element {
  color: #e3e3e3;
}
.form .form-content .input-text.active .input-text-element {
  border-color: #a9a9a9;
}
.form .form-content .input-text .input-text-label {
  color: #a9a9a9;
  position: absolute;
  top: -25px;
  font-size: 16px;
}
.form .form-content .input-text .input-text-element {
  width: 100%;
  background: #3d4146;
  border: 1px solid #373a3f;
  border-radius: 5px;
  color: #a9a9a9;
}
.form .form-content .submit-btn {
  width: 100%;
  border-radius: 5px;
}
#app {
  display: block;
  width: 1570px;
  height: 870px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto';
  color: #a9a9a9;
  background: #161a1f;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  transition: ease-in-out 0.2s;
  overflow: hidden;
}
#app.maximized {
  width: 1920px;
  height: 1040px;
  transform: translate(0);
  top: 0;
  left: 0;
}
#app.focused {
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
#app.blurred {
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
#app.blurred .window-controls {
  opacity: 0.5;
}
#app.disable-animations * {
  transition: none;
}
#app .test {
  font-size: 25px;
  opacity: 0.2;
  position: absolute;
  bottom: 50px;
  right: 100px;
  z-index: 20;
}
.titlebar {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 20px;
  background: #161a1f;
  -webkit-app-region: drag;
}
.titlebar .window-controls {
  float: right;
  transition: ease-in-out 0.2s;
}
.titlebar .window-controls .win-control {
  width: 35px;
  height: 19px;
  padding: 0;
  float: right;
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
  text-align: center;
  background: none;
  -webkit-app-region: no-drag;
}
.titlebar .window-controls .win-control svg {
  fill: currentColor;
}
.titlebar .window-controls .btn-window-close:hover svg {
  transition: ease-in-out 0.2s;
  fill: #ba1055 !important;
}
.sidebar {
  display: block;
  width: 300px;
  height: 850px;
  position: relative;
  z-index: 5;
  float: left;
  background: #161a1f;
  transition: 0.3s ease-in-out;
}
.sidebar .sidebar-list {
  width: 100%;
  height: 100%;
}
.sidebar .sidebar-list .list-item {
  width: 230px;
  padding: 20px 35px;
}
.sidebar .sidebar-list .list-item span {
  font-family: 'Roboto' !important;
}
.sidebar .sidebar-list .list-item:nth-child(1) {
  margin-top: 30px;
}
.sidebar .sidebar-list .list-item:nth-child(4) {
  margin-top: 520px;
}
.sidebar .user-profile-panel {
  display: block;
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 60%;
  left: 0;
  box-sizing: border-box;
}
.sidebar .user-profile-panel .profile-pic {
  display: block;
  background: #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  opacity: 0.8;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin: auto;
}
.sidebar .user-profile-panel .profile-pic:hover {
  opacity: 1;
}
.sidebar .user-profile-panel .username {
  font-size: 17px;
  width: 100%;
  display: block;
  text-align: center;
  opacity: 0.8;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-top: 30px;
}
.sidebar .user-profile-panel .username:hover {
  opacity: 1;
}
.sidebar .update-ready-btn {
  display: none;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  text-align: center;
}
.sidebar .update-ready-btn.active {
  display: block;
  animation: highlight 2s ease-in-out infinite;
}
.sidebar .update-ready-btn .update-icon {
  display: block !important;
  color: #3fab2e;
  font-size: 50px;
  margin-bottom: 20px;
  margin-right: 0;
}
.sidebar .update-ready-btn .update-ready-label {
  display: block !important;
  color: #3fab2e;
  font-size: 15px;
  font-family: 'Roboto';
}
@-moz-keyframes highlight {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
@-webkit-keyframes highlight {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
@-o-keyframes highlight {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
@keyframes highlight {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
.board {
  display: block;
  width: 1270px;
  height: 850px;
  float: right;
}
.board .board-view {
  display: inline-block;
  width: 1270px;
  height: 850px;
  position: absolute;
  top: 20px;
  left: -970px;
}
.board .board-view.active {
  left: 300px;
}
.editor {
  display: block;
  width: 1570px;
  height: 870px;
  position: absolute;
  top: 0;
  z-index: 10;
  background: rgba(255,255,255,0.5);
  transform: scale(0);
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.editor.opened {
  transform: scale(1);
}
.editor.opened .editor-content {
  transform: scale(1) translate(-50%, -50%);
}
.editor .editor-content {
  display: block;
  width: 1000px;
  height: 700px;
  padding: 80px;
  box-sizing: border-box;
  background: #161a1f;
  font-size: 15px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  box-shadow: 0 0 50px rgba(0,0,0,0.7);
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  color: #a9a9a9;
}
.home-screen {
  font-family: 'GravityLight';
}
.home-screen .background-video {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home-screen .background-video video {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-screen .background-video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #4b5058;
  opacity: 0.9;
  z-index: 1;
}
.home-screen .main-title {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  color: #e4eefb;
  z-index: 2;
}
.home-screen .sub-title {
  position: absolute;
  top: 380px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  color: #e4eefb;
  letter-spacing: 0.3px;
  z-index: 2;
}
.home-screen .library-btn {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 200px;
  height: 60px;
  font-size: 17px;
  line-height: 40px;
  border-radius: 0;
  z-index: 2;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  transform: translateX(-50%);
  background: #161a1f;
}
.home-screen .library-btn:hover {
  background: #373a3f;
}
.library {
  background: library-background-color;
  overflow: hidden;
}
.library.active .floating-add-btn {
  display: block;
  position: fixed;
}
.library .toolbar {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  color: #e3e3e3;
}
.library .toolbar .custom-libs-btn {
  background: none;
  height: 40px;
  float: left;
  color: #a9a9a9;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  padding: 10px 0 10px 10px;
}
.library .toolbar .custom-libs-btn:hover {
  color: #e3e3e3;
}
.library .toolbar .custom-libs-btn:hover + .icon-expand_more {
  color: #e3e3e3;
}
.library .toolbar .icon-expand_more {
  display: inline-block;
  width: 40px;
  height: 40px;
  float: left;
  font-size: 16px;
  color: #a9a9a9;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.library .toolbar .icon-expand_more:hover {
  color: #e3e3e3;
}
.library .toolbar .icon-expand_more:hover + .custom-libs-btn {
  color: #e3e3e3;
}
.library .toolbar .searchbox {
  display: inline-block;
  float: left;
  width: 250px;
  height: 40px;
  margin-left: 50px;
  margin-right: 30px;
  position: relative;
}
.library .toolbar .searchbox.active .search-icon {
  opacity: 1;
}
.library .toolbar .searchbox.active .input-search {
  width: 215px;
}
.library .toolbar .searchbox .search-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  opacity: 0.8;
  padding: 0;
  background: none;
}
.library .toolbar .searchbox .search-icon:hover {
  opacity: 1;
  background: none;
}
.library .toolbar .searchbox .input-search {
  position: absolute;
  top: 0;
  left: 40px;
  width: 0;
  height: 39px;
  border: none;
  background: transparent;
  font-family: 'Roboto';
  font-size: 14px;
  color: #e3e3e3;
  transition: ease-in-out 0.2s;
  border-bottom: 1px solid #e3e3e3;
}
.library .toolbar .total-game-counter {
  display: inline-block;
  height: 40px;
  font-size: 13px;
  color: #a9a9a9;
  float: right;
  margin-right: 50px;
}
.library .toolbar .total-game-counter.no-display {
  display: none;
}
.library .toolbar .total-game-counter span {
  line-height: 40px;
}
.library .toolbar .add-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  float: right;
  margin-right: 20px;
  opacity: 0.8;
  background: none;
  font-size: 17px;
  padding: 0;
  border: none;
}
.library .toolbar .add-btn:hover {
  opacity: 1;
  background: none;
}
.library .game-container {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow-y: scroll;
}
.library .floating-add-btn {
  display: block;
  width: 45px;
  height: 45px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  right: 75px;
  bottom: 75px;
  border-radius: 50%;
  line-height: 45px;
  padding: 0;
  overflow: hidden;
}
.library .floating-add-btn span {
  opacity: 0;
  width: 300px;
  position: absolute;
  left: -100px;
  transition: ease-in-out 0.2s;
  text-align: center;
}
.library .floating-add-btn icon {
  margin: 0;
  text-align: center;
  font-size: 22px;
  line-height: 45px;
}
.library .floating-add-btn:hover {
  min-width: 250px;
  width: auto;
  border-radius: 60px;
}
.library .floating-add-btn:hover span {
  width: auto;
  opacity: 1;
  left: 45px;
}
.library .floating-add-btn:hover icon {
  margin-right: 10px;
  margin-left: 20px;
  float: left;
}
::-webkit-scrollbar {
  display: none;
}
.about {
  background: #161a1f;
}
.about .hidrogen-logo {
  font-family: 'Adam';
  text-transform: uppercase;
  font-size: 70px;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
}
.about .link {
  color: #a9a9a9;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.about .link:hover {
  color: #e3e3e3;
}
.about .text {
  width: 500px;
  height: 30px;
  position: absolute;
  color: #a9a9a9;
  font-size: 15px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  transition: ease-in-out 0.2s;
}
.about .version-text {
  top: 42%;
  font-size: 18px;
}
.about .issues-web-link {
  top: 48%;
}
.about .emails {
  top: 52%;
}
.about .copyright-disclaimer {
  top: 45%;
  font-size: 17px;
}
.about .back-btn {
  width: 150px;
  height: 50px;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 30px;
  background: #3d4146;
}
.settings {
  display: block;
  box-sizing: border-box;
  overflow-y: scroll;
}
.settings .settings-panel {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 60px;
  overflow-y: scroll;
}
.settings .settings-panel .settings-group-title {
  display: block;
  font-size: 20px;
  color: #e3e3e3;
  margin-bottom: 20px;
}
.settings .settings-panel .input-toggle {
  display: block;
  margin-bottom: 25px;
}
.settings .settings-panel .autoclose-countdown-toggle {
  margin-left: 40px;
}
.settings .settings-panel .lang-list {
  margin-bottom: 30px;
}
.settings .settings-panel .disable-home-video-toggle,
.settings .settings-panel .clean-library-btn {
  margin-bottom: 30px;
}
.settings .settings-panel .restore-settings-btn,
.settings .settings-panel .clean-library-btn {
  border-radius: 5px;
  margin-bottom: 50px;
}
.settings .settings-panel .user-profile-settings-section {
  display: block;
  position: relative;
  height: 140px;
  border-radius: 20px;
  margin-bottom: 50px;
  transition: ease-in-out 0.2s;
}
.settings .settings-panel .user-profile-settings-section.edit-mode {
  height: 250px;
}
.settings .settings-panel .user-profile-settings-section.edit-mode .profile-container {
  display: none;
}
.settings .settings-panel .user-profile-settings-section.edit-mode .edit-form {
  display: block;
}
.settings .settings-panel .user-profile-settings-section .edit-form {
  display: none;
}
.settings .settings-panel .user-profile-settings-section .edit-form .profile-pic {
  display: block;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}
.settings .settings-panel .user-profile-settings-section .edit-form .profile-pic #profile-pic-input {
  display: block;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.settings .settings-panel .user-profile-settings-section .edit-form .profile-pic .profile-picture-label {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}
.settings .settings-panel .user-profile-settings-section .edit-form .profile-pic .profile-picture-label img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
}
.settings .settings-panel .user-profile-settings-section .edit-form .profile-pic .profile-picture-label .icon-mode_edit {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: ease-in-out 0.2s;
  text-align: center;
  line-height: 80px;
}
.settings .settings-panel .user-profile-settings-section .edit-form .profile-pic .profile-picture-label:hover .icon-mode_edit {
  opacity: 0.5;
}
.settings .settings-panel .user-profile-settings-section .edit-form .name-field {
  width: 600px;
  position: absolute;
  top: 20px;
  left: 130px;
}
.settings .settings-panel .user-profile-settings-section .edit-form .name-field transition .2s ease-in-out:focus {
  outline: none;
  color: text-color-hightlight;
}
.settings .settings-panel .user-profile-settings-section .edit-form .email-field {
  display: inline-block;
  width: 600px;
  position: absolute;
  top: 90px;
  left: 130px;
}
.settings .settings-panel .user-profile-settings-section .edit-form .name-field,
.settings .settings-panel .user-profile-settings-section .edit-form .email-field {
  display: block;
  margin-bottom: 20px;
  color: #a9a9a9;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.settings .settings-panel .user-profile-settings-section .edit-form .name-field:hover,
.settings .settings-panel .user-profile-settings-section .edit-form .email-field:hover {
  color: #e3e3e3 !important;
}
.settings .settings-panel .user-profile-settings-section .edit-form .reset-password {
  display: block;
  position: absolute;
  top: 150px;
  left: 130px;
  font-size: 13px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.settings .settings-panel .user-profile-settings-section .edit-form .reset-password:hover {
  color: #e3e3e3;
}
.settings .settings-panel .user-profile-settings-section .edit-form .delete-account-btn {
  display: inline-block;
  position: absolute;
  top: 200px;
}
.settings .settings-panel .user-profile-settings-section .edit-form .save-changes-btn {
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 320px;
}
.settings .settings-panel .user-profile-settings-section .edit-form .cancel-btn {
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 220px;
}
.settings .settings-panel .user-profile-settings-section .profile-container {
  display: block;
}
.settings .settings-panel .user-profile-settings-section .profile-container .profile-picture {
  display: block;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.settings .settings-panel .user-profile-settings-section .profile-container .username {
  display: inline-block;
  width: 600px;
  position: absolute;
  top: 40px;
  left: 130px;
  font-size: 21px;
  border: none;
  color: #e3e3e3;
}
.settings .settings-panel .user-profile-settings-section .profile-container .email {
  display: inline-block;
  width: 600px;
  position: absolute;
  top: 70px;
  left: 130px;
  color: #e3e3e3;
}
.settings .settings-panel .user-profile-settings-section .profile-container .edit-btn {
  background-color: #3bb175;
  position: absolute;
  top: 45px;
  left: 400px;
}
.settings .settings-panel .settings-field {
  display: block;
  width: 65%;
  margin-bottom: 20px;
  line-height: 30px;
}
.settings .settings-panel .settings-field:nth-child(3) {
  margin-bottom: 10px;
}
.settings .settings-panel .settings-field:nth-child(4) {
  margin-left: 40px;
}
.settings .settings-panel .settings-field label {
  display: block;
}
.settings .settings-panel .settings-field .setting-description {
  display: none;
  padding: 5px 30px;
  font-size: 14px;
  color: #a9a9a9;
}
.settings .settings-panel .settings-field .lang-label {
  display: inline-block;
  cursor: pointer;
  color: #a9a9a9;
  transition: 0.2s ease-in-out;
  line-height: 40px;
}
.settings .settings-panel .settings-field .lang-label:hover {
  color: #fff;
}
.settings .settings-panel .settings-field .lang-dropdown {
  margin: 0 15px;
  vertical-align: middle;
}
.settings .settings-panel .settings-field .lang-dropdown:hover + .lang-label {
  color: #a9a9a9;
}
.settings .settings-panel .settings-field .lang-dropdown .dropdown-title {
  padding: 0 20px;
}
.settings .settings-panel .settings-field .autolang-label {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}
.settings .settings-panel .theme-field {
  height: auto;
  margin-bottom: 50px !important;
}
.settings .settings-panel .lang-field {
  margin-bottom: 50px;
}
.settings .settings-panel .game-counter-field {
  margin-bottom: 40px;
}
.settings .settings-panel .library-field {
  margin-bottom: 50px !important;
}
.settings .settings-panel .save-btn {
  width: 150px;
  height: 50px;
  margin-right: 50px;
  line-height: 30px;
  text-align: center;
  float: right;
}
.settings .settings-panel .clean-library-btn {
  width: 250px;
  text-align: center;
  line-height: 20px;
}
.settings .settings-panel .restore-settings-btn {
  width: 200px;
  text-align: center;
  line-height: 20px;
}
.game-editor {
  display: block;
  box-sizing: border-box;
  left: 1570px;
  padding-top: 100px;
  padding-left: 100px;
  overflow-y: scroll;
}
.game-editor input {
  margin-right: 30px;
}
.game-editor .game-path-input {
  width: 350px;
  vertical-align: middle;
}
.game-editor .game-path-input input {
  width: 350px;
}
.game-editor .game-path-btn {
  height: 40px;
  line-height: 20px;
  margin-left: 40px;
}
.game-editor .game-custom-bg-container {
  display: block;
  height: 365px;
  margin-top: 80px;
  position: relative;
}
.game-editor .game-custom-bg-container .game-custom-bg-preview {
  display: block;
  box-sizing: border-box;
  width: 200px;
  height: 300px;
  margin-right: 30px;
  padding: 20px;
  position: relative;
  float: left;
  background: #161a1f;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  border: 1px solid #3a3f44;
}
.game-editor .game-custom-bg-container .game-custom-bg-preview .text {
  display: block;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #a9a9a9;
  text-align: center;
  transition: ease-in-out 0.2s;
}
.game-editor .game-custom-bg-container .game-custom-bg-preview .title {
  top: 40%;
}
.game-editor .game-custom-bg-container .game-custom-bg-preview .sub-title {
  top: 60%;
  font-size: 13px;
}
.game-editor .game-custom-bg-container .game-custom-bg-preview .preview {
  width: 200px;
  height: 300px;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: -1;
  background-size: auto;
  bcakground-position: center;
}
.game-editor .game-custom-bg-container .game-custom-bg-preview .preview.active {
  z-index: 1;
}
.game-editor .game-custom-bg-container .game-image-btn {
  width: 200px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 20px;
}
.game-editor .btn-done {
  width: 175px;
  height: 50px;
  float: right;
  margin-right: 30px;
  line-height: 30px;
}
.game-editor .cancel-btn {
  width: 150px;
  height: 50px;
  float: right;
  margin-right: 80px;
  line-height: 30px;
}
.game-card {
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  height: 300px;
  margin-right: 35px;
  margin-bottom: 35px;
  padding: 20px;
  position: relative;
  border: 1px solid #3a3f44;
  background: #161a1f;
  overflow: hidden;
}
.game-card.hidden {
  display: none;
}
.game-card:hover .title {
  top: 40%;
}
.game-card:hover .play-btn {
  top: 70%;
}
.game-card:hover .game-menu-btn {
  right: 15px;
}
.game-card:hover .background {
  opacity: 0.7;
}
.game-card.no-bg .title {
  top: 40% !important;
}
.game-card.no-bg .custom-background {
  display: none;
}
.game-card .title {
  display: block;
  width: 80%;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: #e3e3e3;
  text-align: center;
  line-height: 30px;
  transition: ease-in-out 0.2s;
}
.game-card .title.disabled {
  top: -40px !important;
}
.game-card .play-btn {
  width: 50%;
  height: 50px;
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  line-height: 30px;
  border-radius: 5px;
  transition: ease-in-out 0.2s;
}
.game-card .play-btn.disabled {
  top: 105% !important;
}
.game-card .custom-background {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}
.game-card .background {
  display: block;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  background: #000;
  transition: ease-in-out 0.4s;
}
.game-card .game-menu-btn {
  width: 20px;
  height: 20px;
  padding: 0;
  position: absolute;
  top: 15px;
  right: -30px;
  z-index: 3;
  background: transparent;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.game-card .game-menu-btn:hover .hamburger {
  background: #e3e3e3;
}
.game-card .game-menu-btn:hover .hamburger:before,
.game-card .game-menu-btn:hover .hamburger:after {
  background: #e3e3e3;
}
.game-card .game-menu-btn.active {
  right: 15px;
}
.game-card .game-menu-btn.active .hamburger {
  background: rgba(0,0,0,0);
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}
.game-card .game-menu-btn.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}
.game-card .game-menu-btn.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}
.game-card .game-menu-btn .hamburger {
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #aaa;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: 0.3s ease-in-out;
}
.game-card .game-menu-btn .hamburger:before,
.game-card .game-menu-btn .hamburger:after {
  content: ' ';
  width: 20px;
  height: 2px;
  position: absolute;
  left: 0;
  background: #aaa;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: 0.3s ease-in-out;
}
.game-card .game-menu-btn .hamburger:before {
  top: -7px;
}
.game-card .game-menu-btn .hamburger:after {
  top: 7px;
}
.game-card .game-menu {
  display: block;
  box-sizing: border-box;
  width: 160px;
  height: 300px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}
.game-card .game-menu.active + .background {
  opacity: 0.7;
}
.game-card .game-menu.active .menu-list {
  top: 30px;
  animation: slideDown ease-in-out 0.6s;
}
@-moz-keyframes slideDown {
  0% {
    top: -320px;
  }
  60% {
    top: 70px;
  }
  100% {
    top: 30px;
  }
}
@-webkit-keyframes slideDown {
  0% {
    top: -320px;
  }
  60% {
    top: 70px;
  }
  100% {
    top: 30px;
  }
}
@-o-keyframes slideDown {
  0% {
    top: -320px;
  }
  60% {
    top: 70px;
  }
  100% {
    top: 30px;
  }
}
@keyframes slideDown {
  0% {
    top: -320px;
  }
  60% {
    top: 70px;
  }
  100% {
    top: 30px;
  }
}
.game-card .game-menu .menu-list {
  width: 160px;
  position: relative;
  top: -320px;
  transition: ease-in-out 0.2s;
}
.game-card .game-menu .menu-list .list-item {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  padding: 0;
  font-size: 13px;
}
.game-card .game-menu .menu-list .list-item:last-child {
  color: #9c2525 !important;
}
.game-card .game-menu .menu-list .list-item:last-child:hover {
  color: #f00 !important;
}
.game-card .game-menu .menu-list .list-item .icon {
  margin-right: 10px;
}
.delete-game-modal .content,
.clean-library-modal .content,
.reset-hidrogen-modal .content {
  height: 170px;
}
.loader {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #161a1f;
  z-index: 10;
  opacity: 1;
}
.loader.inactive {
  animation: fadeLoader 0.3s forwards;
}
.loader .loader-title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a9a9a9;
}
.loader .loader-container {
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader .loader-container .loader-item {
  width: 40px;
  height: 40px;
  background: #161a1f;
  border-radius: 50%;
  box-shadow: 0 0 50px;
  animation: loaderAnimation 1.6s ease-in-out infinite;
}
.loader .loader-container .loader-item:nth-child(1) {
  animation-delay: -1.4s;
}
.loader .loader-container .loader-item:nth-child(2) {
  animation-delay: -1.2s;
}
.loader .loader-container .loader-item:nth-child(3) {
  animation-delay: -1s;
}
.loader .loader-container .loader-item:nth-child(4) {
  animation-delay: -0.8s;
}
.loader .loader-container .loader-item:nth-child(5) {
  animation-delay: -0.6s;
}
.loader .loader-container .loader-item:nth-child(6) {
  animation-delay: -0.4s;
}
.loader .loader-container .loader-item:nth-child(7) {
  animation-delay: -0.2s;
}
@-moz-keyframes loaderAnimation {
  0%, 40%, 100% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(1);
  }
}
@-webkit-keyframes loaderAnimation {
  0%, 40%, 100% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(1);
  }
}
@-o-keyframes loaderAnimation {
  0%, 40%, 100% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(1);
  }
}
@keyframes loaderAnimation {
  0%, 40%, 100% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(1);
  }
}
@-moz-keyframes fadeLoader {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes fadeLoader {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    transform: scale(0);
  }
}
@-o-keyframes fadeLoader {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes fadeLoader {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    transform: scale(0);
  }
}
.custom-library-manager {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: scale(3);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: rgba(0,0,0,0.8);
  z-index: -1;
  opacity: 0;
}
.custom-library-manager.active {
  transform: scale(1);
  opacity: 1;
  z-index: 3;
}
.custom-library-manager .library-container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  box-sizing: border-box;
  width: 100%;
  height: 85%;
  padding: 50px;
  overflow-y: scroll;
}
.custom-library-manager .floating-btns {
  display: block;
  width: 100%;
  height: 15%;
  position: relative;
  bottom: 0;
  right: 0;
}
.custom-library-manager .floating-btns .btn {
  float: right;
}
.custom-library-manager .floating-btns .add-btn {
  width: 250px;
  height: 50px;
  top: 20px;
  margin: auto;
  border-radius: 50px;
  line-height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.custom-library-manager .floating-btns .add-btn icon {
  font-size: 21px;
  line-height: 30px;
  vertical-align: middle;
}
.custom-library-manager .floating-btns .add-btn span {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}
.custom-library-manager .floating-btns .return-btn {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  line-height: 30px;
  border-radius: 50px;
  margin-right: 300px;
}
.custom-library {
  display: inline-block;
  width: 280px;
  height: 150px;
  border: solid 1px #808080;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
.custom-library.active {
  width: 100%;
  height: 100%;
}
.custom-library:hover {
  background: rgba(0,0,0,0.5);
}
.custom-library:hover .delete-btn {
  transform: scale(1);
}
.custom-library .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease-in-out;
  font-size: 15px;
  line-height: 30px;
}
.custom-library .title icon {
  margin-right: 5px;
}
.custom-library .delete-btn {
  background: none;
  color: #f00;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  transform: scale(0);
  transition: 0.2s ease-in-out;
}
.custom-library .delete-btn:hover {
  background: none;
}
.custom-library .delete-btn icon {
  margin: 0;
}
.lib-name-field,
.custom-icon-toggle {
  display: block;
  margin-bottom: 40px;
}
.custom-icons-grid {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  width: 320px;
  height: 0px;
  transition: 0.2s ease-in-out;
  overflow-y: scroll;
  color: #a9a9a9;
}
.custom-icons-grid.active {
  height: 80px;
}
.custom-icons-grid span {
  font-size: 20px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.custom-icons-grid span.selected {
  color: #e3e3e3;
  text-shadow: 0 0 10px rgba(255,255,255,0.2);
}
.custom-icons-grid span:hover {
  color: #e3e3e3;
  text-shadow: 0 0 10px rgba(255,255,255,0.2);
}
.editor-btns {
  display: block;
  width: 370px;
  height: 60px;
  position: absolute;
  right: 80px;
  bottom: 80px;
}
.editor-btns .btn {
  padding: 0;
  float: right;
  line-height: 60px;
}
.editor-btns .create-lib-btn {
  width: 200px;
  height: 60px;
  margin-right: 20px;
}
.editor-btns .cancel-btn {
  width: 150px;
  height: 60px;
}
.login {
  display: block;
  width: 1570px;
  height: 850px;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url("../static/images/login-background.jpg") no-repeat center;
  z-index: 90;
}
.login .form {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: ease-in-out 0.2s;
}
.login .login-form.active,
.login .signup-form.active {
  transform: translate(-50%, -50%) scale(1);
}
.login .login-form .input-text:nth-child(3) {
  margin-bottom: 15px;
}
.login .login-form .forgot-password-btn,
.login .login-form .show-signup-form-btn {
  background: none;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
  color: #a9a9a9;
  transition: 0.2s ease-in-out;
}
.login .login-form .forgot-password-btn:hover,
.login .login-form .show-signup-form-btn:hover {
  color: #e3e3e3;
}
.login .login-form .submit-btn {
  margin: 30px 0;
}
.login .signup-form .show-login-form-btn {
  background: none;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
  color: #a9a9a9;
  transition: 0.2s ease-in-out;
}
.login .signup-form .show-login-form-btn:hover {
  color: #e3e3e3;
}
.login .signup-form .submit-btn {
  margin-bottom: 30px;
}
