.settings
    display block
    box-sizing border-box


    // .settings-nav
    //     display inline-block
    //     width 150px
    //     height 850px
    //     float left
    //     // background #000
    //
    //     .list-container
    //         height 850px
    //         box-sizing border-box
    //         padding 270px 0

    .settings-panel
        display inline-block
        box-sizing border-box
        width 100%
        padding 60px
        overflow-y scroll

        .settings-group-title
            display block
            font-size 20px
            color text-color-highlight
            margin-bottom 20px

        .settings-field
            display block
            width 65%
            margin-bottom 20px
            line-height 30px
            // border-bottom 1px solid #c1c1c1

            &:nth-child(2)
                margin-bottom 10px

            &:nth-child(3)
                margin-left 40px

            label
                display block

            .setting-description
                display none
                padding 5px 30px
                font-size 14px
                color text-color

            .lang-label
                display inline-block
                cursor pointer
                color #a9a9a9
                transition .2s ease-in-out
                line-height 40px

                &:hover
                    color #fff

            .lang-dropdown
                margin 0 15px
                vertical-align middle

                &:hover + .lang-label
                    color #a9a9a9

                .dropdown-title
                    padding 0 20px

            .autolang-label
                display inline-block
                height 40px
                vertical-align middle

        .theme-field
            height auto
            margin-bottom 50px !important

        .lang-field
            margin-bottom 50px

        .library-field
            margin-bottom 50px !important

        .save-btn
            width 150px
            height 50px
            margin-right 50px
            line-height 30px
            text-align center
            float right

        .clean-library-btn
            width 250px
            // height 40px
            text-align center
            line-height 20px

        .restore-settings-btn
            width 200px
            height 40px
            text-align center
            line-height 20px
