.titlebar
    display block
    width 100%
    height 20px
    box-sizing border-box
    border-bottom 1px solid #000
    // border-radius 10px 10px 0 0
    background #202832
    // background #1e252e
    -webkit-app-region drag

    .window-controls
        float right
        transition ease-in-out .2s

        .win-control
            width 35px
            height 19px
            padding 0
            float right
            color #a9a9a9
            font-size 14px
            text-align center
            // line-height 20px
            -webkit-app-region no-drag
            background none
            line-height 19px

            svg
                fill currentColor

        .btn-window-close:hover
            // background rgb(186, 16, 85) !important

            svg
                transition ease-in-out .2s
                fill rgb(186, 16, 85) !important
            // color rgb(186, 16, 85) !important
